<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>There is a new post by <%= @user.name %> in group <%= @group.name %>.</h1>
    <br>
    <p>To view the post login to the site: <%= @url %>.</p>
  </body>
</html>
